<!doctype html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <link rel="stylesheet" href="/assets/css/style.css">

  <title>{{ page.title }} | {{ site.title }}</title>
</head>
<body>

  <nav>
    <a href="/"><img src="{{ '/assets/images/earthmusicicon.png' | relative_url }}" alt="MusicWorld image" width='30' > Liam's World</a> |
    <a href="/music/">Music</a> | 
    <a href="/projects/">Projects</a> | 
    <a href="/videos/">Videos</a>
  </nav>

  <main>
    {{ content }}
  </main>

</body>
</html>
