<!doctype html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">

  <link rel="stylesheet" href="/assets/css/style.css">
  <link rel="icon" type="image/png" href="{{ '/assets/images/earthmusicicon.png' | relative_url }}">

  <title>{{ page.title }} | {{ site.title }}</title>
</head>
<body>

  <nav>
    <a href='/'>
      <div class="header-center">
        <img src="{{ '/assets/images/earthmusicicon.png' | relative_url }}" alt="MusicWorld image"> Liam McKay
      </div>
    </a>  
    <a href="/music/">Music</a> | 
    <a href="/projects/">Sciency Stuff</a> | 
    <a href="/videos/">Videos</a> | 
    <a href="/visualart/">Visual Art</a>
  </nav>

  <main>
    {{ content }}
  </main>

</body>
</html>
